<br>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Pedidos</h1>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <button class="btn btn-primary" routerLink="/cadastrarpedidos">Cadastrar pedido</button>
    <button class="btn btn-primary" >Excluir pedido</button>
</div>

<a *ngFor="let pedido of pedidos"
routerLink="/pedido/{{cliente.id}}/detalhes">
  <div>
   <ul class="list-group"> 
    <li class="list-group-item">{{pedido.nome}}</li> 
  </ul>
  </div>
</a>