<br>
<h1>Funcionarios</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="Nome" class="control-label">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" required #nome="ngModel"
                [(ngModel)]="newFuncionario.nome">
        </div>
        <div class="col-sm-12">
            <label for="Cargo" class="control-label">Cargo</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo" required
                #nome="ngModel" [(ngModel)]="newFuncionario.cargo">
        </div>
        <div class="col-sm-12">
            <label for="Salario" class="control-label">Salario</label>
        </div>
        <div class="col-sm-12">
            <input type="number" class="form-control" name="salario" id="salario" placeholder="Salario" required
                #nome="ngModel" [(ngModel)]="newFuncionario.salario">
        </div>
        <div class="col-sm-12">
            <label for="Setor" class="control-label">Setor</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="setor" id="setor" placeholder="setor" required
                #nome="ngModel" [(ngModel)]="newFuncionario.setor">
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submeter</button>
        <button routerLink="/funcionarios" class="btn btn-primary">Voltar</button>
    </div>
</form>