<br>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Funcionarios</h1>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <button class="btn btn-primary" routerLink="/cadastrarfuncionarios">Cadastrar funcionario</button>
    <button class="btn btn-primary" >Excluir funcionario</button>
</div>

<a *ngFor="let funcionario of funcionarios"
routerLink="/funcionario/{{cliente.id}}/detalhes">
  <div>
   <ul class="list-group"> 
    <li class="list-group-item">{{funcionario.nome}}</li> 
  </ul>
  </div>
</a>